body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-image: url(./images/pexels-photo-2147486.jpeg);
	background-size: 100vw;
}

main {
	flex: 1 0 auto;
}
.collection-header {
	opacity: 0.8;
}
.card1 {
	border: 0px;
}
.collection.with-header .collection-header {
	border-bottom: 0px;
}
.card .card-content {
	border: 0px;
}

.results-card {
	display: none;
	opacity: 0.8;
}

#forecast-cards {
	margin-left: 80px;
}

.page-footer {
	padding-top: 0px;
}

input {
	color: white;
}

.collection.with-header {
	z-index: 1;
}

.algolia-places {
	z-index: 100;
}

@media only screen and (max-width: 620px) {
	nav .brand-logo {
		font-size: 22px;
		/* left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); */
	}
}

